body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.header{
    margin: 0;
    background-color: rgb(0, 179, 255);
    background-image: url("../img/pattern.png");
    height: 150px;
}

.logo{
    padding-top: 20px;
    width: 30%;
    height: 100px;
}

h1, h5{
    margin: 3px auto;
}

h4{
    margin: 3px auto;
    color: grey;
}
.description{
    font-size: 15px;
    color: grey;
}
table, th, td {
    border-collapse: collapse;
    background-color: aquamarine;
    margin: 20px;
    padding: 5px;

}